* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

.light {
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
    align-items: center;
    text-align: center;
}

#section1 {
    padding-top: 100px;
    padding-bottom: 100px;
}

.light h1 {
    text-align: center;
    font-size: 80px;
    width: 700px;
    margin: auto;
    /* Problem with margin top*/
    margin-bottom: 1em;
    font-weight: normal;
    line-height: 1.2;
}

#quote1 {
    background: transparent url("img/big_warehouse.jpg") no-repeat bottom left;
    background-size: 100%;
    width: 1200px;
    height: 450px;
    margin: auto;
    padding: 200px calc((1200px - 2*405px)/2) 0 calc((1200px - 2*405px)/2);
    display: flex;
    margin-bottom: 250px;
    text-align: center;
}

#quote1 > * {
    height: 400px;
    width: 400px;
    background-color: rgb(175, 175, 175);
    margin: 5px;
}

#quote1 > .left {
    background-image: url("img/woman.jpg");
    background-size: 100%;
}

#quote1 > .right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    padding:50px;
}

q:before, q:after{ content: "";}

q, h4 {
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 3px;
    line-height: 1.6;
}

.read-more {
    border: 2px solid black;
    text-transform: uppercase;
    font-size: 20px;
    padding: 5px 15px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    
}

h2 {
    font-size: 40px;
    font-weight:700;
    line-height: 1.2;
    margin-bottom:20px;
}

#construction-machinery {
    margin:auto;
    display: flex;
    justify-content: center;
}

#construction-machinery > .left {
    width:800px;
    padding: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
}

#construction-machinery > .left > h2 {
    width: 400px;
}

#construction-machinery > .left > q {
    width: 400px;
}

#construction-machinery > .left > p {
    margin-top: 50px;
}

#construction-machinery > .right {
    width: 400px;
    background: transparent url("img/thanks_yandex.webp") no-repeat center center;
    background-size: 100%;
}