#section1 {
    padding-top: 100px;
    padding-bottom: 100px;
}

#header {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 100px;
    padding: 40px 40px;
    background-color: white;
}

#header > img {
    width: 300px
}

#header > h1 {
    font-size: 60px;
}

.menu {
    background-color: black;
    color: white;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
}

.menu > li {
    padding: 10px 50px;
    font-size: 30px;
    list-style-type: none;
    border-right: 1px solid white;
    border-left:1px solid white;
}

.menu > li:hover{
    padding: 10px 50px;
    font-size: 30px;
    list-style-type: none;
    border-right: 1px solid white;
    border-left:1px solid white;
    background-color: white;
    color: black;
    transition: 300ms;
}

#quote1 {
    background: transparent url("../img/big_warehouse.jpg") no-repeat bottom left;
    background-size: 100%;
    width: 1200px;
    height: 450px;
    margin: auto;
    padding: 200px calc((1200px - 2*405px)/2) 0 calc((1200px - 2*405px)/2);
    display: flex;
    margin-bottom: 250px;
    text-align: center;
}

#quote1 > * {
    height: 400px;
    width: 400px;
    background-color: rgb(175, 175, 175);
    margin: 5px;
}

#quote1 > .left {
    background-image: url("../img/woman.jpg");
    background-size: 100%;
}

#quote1 > .right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    padding:50px;
}

q:before, q:after{ content: "";}

.read-more {
    border: 2px solid black;
    text-transform: uppercase;
    font-size: 15px;
    padding: 10px 30px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    
}