#section4 {
    padding-top: 70px;
    padding-bottom: 70px;
}

#section4 h4 {
    margin-bottom: 10px;
}

#gallery {
    display: flex;
    flex-direction: column;
}

#gallery .row {
    display: flex;
}

#gallery img {
    width: 25%;
    margin: 0;
    padding: 0;
    display: inline-block;
}