#section5 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 100px 100px;
    background-color: white;
    gap:100px;
}

#section5 .right {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    flex-grow: 1;
    flex-basis: 0;
}

#section5 h3 {
    margin-bottom: 30px;
}

#section5 .left {
    background: url("/img/world_map.png") no-repeat center center;

    height:400px;
    flex-grow: 1;
    flex-basis: 0;
}
