#section6 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 100px;
}

#section6 .left {
    width: 300px;
}

#section6 .right {
    width: 300px;
    margin-left: 200px;
}

#section6 .left > p{
    margin-bottom: 30px
}