#section4 {
    padding-top: 70px;
    padding-bottom: 25px;
}

#section4 h4 {
    margin-bottom: 10px;
}

#gallery {
    width:100%;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-gap: 0;
}

#gallery img {
    display: block;
    margin: 0;
    padding: 0;
    width:100%;
}
