#section6 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 100px 10%;
}

#section6 .left {
    width: 300px;

}

#section6 .right {
    width: 300px;
}

#section6 > .left > p{
    margin-bottom: 30px
}