#section5 {
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: white;
}

#section5 .right {
    width: 500px;
    height: 500px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    vertical-align: center;
    margin-left: 100px
}

#section5 h3 {
    margin-bottom: 30px;
}

#section5 .left {
    background: url("/img/world_map.png") no-repeat center center;
    width:600px;
    height:400px;
}
