#section2 {
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#section2 > p {
    width:800px;
}

#building-items {
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 300px 300px;
    grid-gap: 10px 70px;

    margin-top: 30px;
}

#building-items > .building-square {
    width: 300px;
    height: 270px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
    /* padding:30px; */
    /* margin: 30px; */
}

#building-items > .building-square > img {
    width: 100px;
    display: block;
}

#building-items > .building-square > h3 {
    width: 200px;
}