#section3 {
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#section3 .col {
    width: 400px;
    margin:35px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
}

#big-building-pic {
    height:500px;
    background: url("/img/big-caterpillar.jpg") no-repeat center center;
    background-size: 100%;
}

#section3  .col .square {
    margin:auto;
    margin-bottom: 40px;
    margin-top: 40px;
}

#section3 img {
    width: 100px;
}

#section3 h4 {
    font-size: 20px;
    margin:10px;
}
